<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.project.web.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>LocalizationFilter</filter-name>
    <filter-class>com.project.filter.LocalizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocalizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>BannedUserFilter</filter-name>
    <filter-class>com.project.filter.BannedUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BannedUserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>RuLanguageFilter</filter-name>
    <filter-class>com.project.filter.RuLanguageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RuLanguageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthentificationFilter</filter-name>
    <filter-class>com.project.filter.AuthentificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthentificationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>StaticResourceFilter</filter-name>
    <filter-class>com.project.filter.StaticResourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StaticResourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <resource-ref>
    <res-ref-name>jdbc/library</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>


  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/pages/error.jsp</location>
  </error-page>

</web-app>
        